/*系统*/
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
::-webkit-input-placeholder {
　　color:#ddd;
}
input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}
img {
  vertical-align: top;
}
* {
  box-sizing: border-box;
}
input {
  height: 40px;
  border: solid 1px #ccc;
  padding: 13px 5px;
  font-size: 14px;
}

/*常用*/
html {
  font-size: 15px;
}
body {
  margin: 0;
}
.hide,
.hidden {
  display: none !important;
}
.a0000 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
  clear: both;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.imgw100 {
  width: 100%;
}
.imgwh100 {
  width: 100%;
  height: 100%;
}
.axbtn:active {
  background-color: rgba(0,0,0,.2);
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
.spin {
  animation: spin .5s infinite linear;
}
.a0000 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/*加载中遮屏样式*/
.loading-box {
  position: fixed;
  z-index: 1000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.2);
}
.loading-con {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  line-height: 2.4em;
  text-align: center;
}
.loading-rotate-img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  vertical-align: top;
  display: inline-block;
  border: solid 5px rgba(0, 0, 0, .1);
  border-top-color: #ff9c00;
  animation: spin .5s infinite linear;
}

.loading-box-text {
  color: #fff;
  font-size: 20px;
}

/*页面样式*/
.page-item {
  position: absolute;
  max-width: 720px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all .3s ease;
}
.pitem-head {
  position: relative;
  padding: 17px 50px;
  font-size: 16px;
  color: #fff;
  line-height: 1;
  height: 50px;
  background: #409eff;
  text-align: center;
}
.pitem-head .pitem-head-l,
.pitem-head .pitem-head-r {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  line-height: 50px;
  font-size: 14px;
}
.pitem-head .pitem-head-r {
  left: auto;
  right: 0;
}
.page-con {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.modal-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,.6);
  z-index: 10;
}
.imgloading-box {
  width: 0;
  height: 0;
  overflow: hidden;
}

/* ui框架的重置 */
.elui-message {
  min-width: 0 !important;
  max-width: 80% !important;
}
